<section class="project-detail">
  {% assign screenshots = section.blocks | where: "type", "screenshot" %}

{% if screenshots.size > 0 %}
  <div class="project-images">
    {% for block in screenshots %}
      <img
        src="{{ block.settings.image | image_url: width:1200 }}"
        alt="{{ page.title }} screenshot {{ forloop.index }}"
        width="800"
        height="500"
      >
    {% endfor %}
  </div>
{% endif %}
  <h1 class="section-titles">{{ page.title }}</h1>

  <div class="tech-stack">
    <div class="tech-group">
      <h3>Frontend</h3>
      <div class="tech-list">
        {% for block in section.blocks %}
          {% if block.settings.category == "frontend" %}
            <span class="tech-item">
              <img
                src="{{ block.settings.svg | image_url: width: 50, height: 50 }}"
                width="24",
                height="24">
              <p>{{ block.settings.title }}</p>
            </span>
            {% endif %}
          {% endfor %}
      </div>
    </div>

    <div class="tech-group">
      <h3>Backend</h3>
      <div class="tech-list">
        {% for block in section.blocks %}
          {% if block.settings.category == "backend" %}
            <span class="tech-item">
              <img
                src="{{ block.settings.svg | image_url: width: 50, height: 50 }}"
                width="24",
                height="24">
              <p>{{ block.settings.title }}</p>
            </span>
            {% endif %}
          {% endfor %}
      </div>
    </div>

    <div class="tech-group">
      <h3>Database</h3>
      <div class="tech-list">
        {% for block in section.blocks %}
          {% if block.settings.category == "database" %}
            <span class="tech-item">
              <img
                src="{{ block.settings.svg | image_url: width: 50, height: 50 }}"
                width="24",
                height="24">
              <p>{{ block.settings.title }}</p>
            </span>
            {% endif %}
          {% endfor %}
      </div>
    </div>

    <div class="tech-group">
      <h3>External API</h3>
      <div class="tech-list">
        {% for block in section.blocks %}
          {% if block.settings.category == "apis" %}
            <span class="tech-item">
              <img
                src="{{ block.settings.svg | image_url: width: 50, height: 50 }}"
                width="24",
                height="24">
              <p>{{ block.settings.title }}</p>
            </span>
            {% endif %}
          {% endfor %}
      </div>
    </div>

    <div class="tech-group">
      <h3>Storage</h3>
      <div class="tech-list">
        {% for block in section.blocks %}
          {% if block.settings.category == "storage" %}
            <span class="tech-item">
              <img
                src="{{ block.settings.svg | image_url: width: 50, height: 50 }}"
                width="24",
                height="24">
              <p>{{ block.settings.title }}</p>
            </span>
            {% endif %}
          {% endfor %}
      </div>
    </div>
  </div>

  <div class="project-detail-content">
    {{ page.content }}
  </div>

  <a href="/" class="btn back-to-portfolio">← Back to Projects</a>
</section>

{% schema %}
{
  "name": "Project Detail",
  "settings": [],
  "blocks": [
    {
      "type": "screenshot",
      "name": "Screenshot",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Project Screenshot"
        }
      ]
    },
    {
      "type": "tech",
      "name": "Tech Stack Item",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Technology Name"
        },
        {
          "type": "select",
          "id": "category",
          "label": "Category",
          "options": [
            {"value": "frontend", "label": "Frontend"},
            {"value": "backend", "label": "Backend"},
            {"value": "database", "label": "Database"},
            {"value": "apis", "label": "External APIs" },
            {"value": "storage", "label": "Storage"}
          ]
        },
        {
          "type": "image_picker",
          "id": "svg",
          "label": "Skill SVG"
        }
      ]
    }
  ],
  "max_blocks": 20,
  "presets": [
    {
      "name": "Project Detail",
      "category": "Pages"
    }
  ]
}
{% endschema %}
